#toolbar {
    height: auto;
    padding: 0 1 1 1;
    align: left middle;
}

#path {
    width: 1fr;
    margin-right: 1;
}

#toolbar Button {
    margin-right: 1;
}

#editor {
    height: 1fr;
    margin: 0 1 1 1;
    border: round $primary;
}
