TabbedContent {
    height: auto;
}

.switch-row {
    height: auto;
    align: left middle;
    padding: 0 0 1 0;
}

#actions {
    height: auto;
    padding: 0 1 1 1;
}

#summary {
    border: round $primary;
    padding: 1;
    margin: 0 1 1 1;
    min-height: 7;
}
